# Exploración dataset imdb

Notebook inicial para explorar los dataset de películas de imdb. Han sido descargados de [Kaggle](https://www.kaggle.com/grouplens/movielens-20m-dataset)

In [95]:
import pandas as pd
import numpy as np
import matplotlib.pyplot
import seaborn as sns

%matplotlib inline

In [96]:
!ls ./data

IMDb movies.csv        movies_clean.csv       movies_with_labels.csv

In [97]:
df = pd.read_csv('./data/IMDb movies.csv')
df.head()

/Users/antoniocantos/opt/anaconda3/envs/Master/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.90000,154,NaN,NaN,NaN,NaN,1.00000,2.00000
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.10000,589,$ 2250,NaN,NaN,NaN,7.00000,7.00000
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.80000,188,NaN,NaN,NaN,NaN,5.00000,2.00000
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.20000,446,$ 45000,NaN,NaN,NaN,25.00000,3.00000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.00000,2237,NaN,NaN,NaN,NaN,31.00000,14.00000

In [98]:
df.tail(50)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85805,tt9850064,Children of the Sea,Kaijû no kodomo,2019,2019-12-02,"Animation, Adventure, Drama",111,Japan,Japanese,Ayumu Watanabe,...,"Mana Ashida, Hiiro Ishibashi, Seishû Uragami, ...",A young girl is drawn into a mystery involving...,6.50000,1148,NaN,NaN,$ 2789668,NaN,8.00000,37.00000
85806,tt9850264,Bruno Manser - Die Stimme des Regenwaldes,Bruno Manser - Die Stimme des Regenwaldes,2019,2020-10-22,"Adventure, Biography, Drama",142,"Switzerland, Austria","English, Swiss German, German",Niklaus Hilber,...,"Sven Schelker, Charlotte Heinimann, Daniel Lud...",1984: Searching for an experience that goes de...,7.60000,229,NaN,NaN,NaN,NaN,4.00000,4.00000
85807,tt9855978,Dreambuilders - La fabbrica dei sogni,Drømmebyggerne,2020,2020-09-10,"Animation, Adventure, Comedy",81,Denmark,Danish,"Kim Hagen Jensen, Tonni Zinck",...,"Robyn Dempsey, Emma Jenkins, Luke Griffin, Tom...","It centers on Minna, a young girl who misuses ...",6.30000,174,NaN,NaN,$ 820539,NaN,4.00000,20.00000
85808,tt9855990,Nightmare Tenant,Nightmare Tenant,2018,2018-12-05,Thriller,90,USA,English,Robert Malenfant,...,"Virginia Tucker, Lauralee Bell, Maahra Hill, H...","Dr. Carol Allen (Lauralee Bell), a kind-hearte...",5.40000,160,NaN,NaN,NaN,NaN,9.00000,2.00000
85809,tt9856606,Pan T.,Pan T.,2019,2019-12-25,"Comedy, Drama",103,Poland,Polish,Marcin Krzysztalowicz,...,"Pawel Wilczak, Sebastian Stankiewicz, Maria So...",Anything is possible in Warsaw rising from the...,5.90000,320,NaN,NaN,$ 202432,NaN,2.00000,NaN
85810,tt9859504,Hombres de piel dura,Hombres de piel dura,2019,2019-06-20,Drama,96,Argentina,Spanish,José Celestino Campusano,...,"Wall Javier, Germán Tarantino, Claudio Medina,...",Teenager Ariel lives a seemingly quiet life wi...,5.50000,217,NaN,NaN,$ 1143,NaN,2.00000,6.00000
85811,tt9860728,Falling Inn Love - Ristrutturazione con amore,Falling Inn Love,2019,2019-08-29,"Comedy, Romance",98,USA,English,Roger Kumble,...,"Christina Milian, Adam Demos, Jeffrey Bowyer-C...",When city girl Gabriela spontaneously enters a...,5.60000,14108,NaN,NaN,NaN,NaN,265.00000,32.00000
85812,tt9860860,Abduction 101,Abduction 101,2019,2019-06-25,Horror,77,USA,English,"Robin Entreinger, Steve Noir",...,"Luna Labelle, Nixi Oblivion, Brianna Shewbert ...",Three beautiful women find a strange house in ...,2.30000,174,$ 500000,NaN,NaN,NaN,14.00000,3.00000
85813,tt9861522,Ali,Ali,2019,2019-03-22,Drama,110,Turkey,Turkish,Ramazan Özer,...,"Gürbey Ileri, Hakan Meriçliler, Semra Dinçer, ...",Ali's illness not only changes his life but al...,4.80000,126,NaN,NaN,NaN,NaN,NaN,1.00000
85814,tt9863566,Urbanus: De Vuilnisheld,Urbanus: De Vuilnisheld,2019,2019-02-27,"Animation, Comedy",72,Belgium,Dutch,"Joost Van Den Bosch, Erik Verkerk",...,"Urbanus, Ben Segers, Sven De Ridder, Sien Egge...",The adults from Tollembeek make a deal with a ...,5.40000,110,NaN,NaN,NaN,NaN,1.00000,1.00000
85815,tt9866208,Beyond the Line,Beyond the Line,2019,2019-06-04,War,78,Canada,English,Jason Mills,...,"Chris Walters, Jackson Berlin, Darren Andrichu...",It's the close of World War II. Unwilling to s...,3.90000,188,NaN,NaN,NaN,NaN,20.00000,1.00000
85816,tt9866344,Mon Ami Walid,Mon Ami Walid,2019,2019-01-13,"Comedy, Drama",72,Canada,French,Adib Alkhalidey,...,"Adib Alkhalidey, Iani Bédard, Christian Bégin,...",NaN,5.40000,116,CAD 150000,NaN,NaN,NaN,NaN,NaN
85817,tt9866700,Paranormal Investigation,Paranormal Investigation,2018,2018-12-01,"Horror, Thriller",92,France,French,Franck Phelizon,...,"Jose Atuncar, Claudine Bertin, Cedric Henquez,...",When a young man becomes possessed after playi...,3.70000,1299,NaN,NaN,NaN,NaN,334.00000,11.00000
85818,tt9870726,Gholamreza Takhti,Gholamreza Takhti,2019,2019-03-16,"Biography, Drama, Sport",105,Iran,Persian,Bahram Tavakoli,...,"Alireza Goudarzi, Mahoor Alvand, Behnoosh Taba...",The story of life of Gholam Reza Takhti from h...,6.70000,630,NaN,NaN,NaN,NaN,2.00000,6.00000
85819,tt9872556,Momenti di trascurabile felicità,Momenti di trascurabile felicità,2019,2019-03-14,Comedy,93,Italy,Italian,Daniele Luchetti,...,"Pif, Thony, Renato Carpentieri, Franz Cantalup...","After a deadly accident, Paolo comes back on E...",5.50000,784,NaN,NaN,$ 2057341,NaN,3.00000,11.00000
85820,tt9875852,Domovoy,Domovoy,2019,2019-04-11,"Comedy, Family, Fantasy",90,Russia,Russian,Evgeniy Bedarev,...,"Anastasiya Abadzhidi, Dmitriy Bedarev, Dmitriy...",A single mother buys a flat in the Soviet high...,5.10000,168,NaN,NaN,$ 1842316,NaN,NaN,NaN
85821,tt9876160,Koridor bessmertiya,Koridor bessmertiya,2019,2019-05-01,"Drama, War",125,Russia,Russian,Fyodor Popov,...,"Artyom Alekseev, Francisco de Borja De la Bell...",Yesterday's Leningrad schoolgirl Masha Yabloch...,5.60000,153,NaN,NaN,$ 680578,NaN,4.00000,NaN
85822,tt9877340,Nalpathiyonnu,Nalpathiyonnu,2019,2019-11-08,"Drama, Romance",134,India,Malayalam,Lal Jose,...,"Biju Menon, Sharanjith, Nimisha Sajayan, Dhany...",This socio-political satire unravels through h...,5.30000,173,INR 50000000,NaN,$ 42104,NaN,5.00000,1.00000
85823,tt9878242,Subharathri,Subharathri,2019,2019-07-06,"Drama, Romance",130,India,Malayalam,Vyasan K.P.,...,"Dileep, Anu Sithara, Siddique, Suraj Venjaramo...",A simple love story between a man and his wife...,6.00000,202,INR 30000000,NaN,$ 105932,NaN,5.00000,NaN
85824,tt9878598,Huisvrouwen bestaan niet 2,Huisvrouwen bestaan niet 2,2019,2019-12-12,Comedy,105,Netherlands,Dutch,Aniëlle Webster,...,"Jelka van Houten, Eva van de Wijdeven, Loes Lu...",Two modern women and their free-spirited mothe...,6.40000,210,NaN,NaN,$ 1937239,NaN,2.00000,1.00000
85825,tt9880982,Dulce Familia,Dulce Familia,2019,2019-05-10,Comedy,101,"Mexico, Chile",Spanish,Nicolás López,...,"Paz Bascuñán, Regina Blandón, Fernanda Castill...",A successful pastry chef gets engaged to be ma...,4.50000,251,NaN,NaN,$ 5725043,NaN,2.00000,1.00000
85826,tt9883042,Aakashaganga II,Aakashaganga II,2019,2019-11-01,Horror,142,India,Malayalam,Vinayan,...,"Saranya Anand, Sreenath Bhasi, Dharmajan Bolga...","Arathi, accepts a challenge to test the authen...",2.20000,153,INR 50000000,NaN,$ 9306,NaN,10.00000,1.00000
85827,tt9883996,Dream Horse,Dream Horse,2020,2020-09-04,"Biography, Comedy, Drama",113,UK,English,Euros Lyn,...,"Toni Collette, Damian Lewis, Siân Phillips, Jo...",Dream Alliance is an unlikely race horse bred ...,5.80000,120,NaN,NaN,NaN,68.00000,3.00000,5.00000
85828,tt9886872,Munthiri Monchan,Munthiri Monchan,2019,2019-12-06,"Comedy, Romance",130,India,Malayalam,Vijith Nambiar,...,"Manesh Krishnan, Gopika Anil, Salim Kumar, Dev...",Munthiri Monchan is a feel good urban romantic...,8.10000,990,INR 30000000,NaN,$ 2568,NaN,21.00000,1.00000
85829,tt9887520,Season of Love,Season of Love,2019,2019-11-30,"Comedy, Romance",105,USA,NaN,Christin Baker,...,"Dominique Provost-Chalkley, Jessica Clark, Emi...",A queer lady holiday romantic comedy that foll...,7.50000,228,NaN,NaN,NaN,NaN,10.00000,5.00000
85830,tt9887580,Bulletproof 2,Bulletproof 2,2020,2020-01-07,"Action, Comedy",97,USA,English,Don Michael Paul,...,"Faizon Love, Kirk Fox, Tony Todd, Cassie Clare...","Set 25 years after, Jack is now working as a S...",3.50000,326,NaN,NaN,NaN,NaN,18.00000,5.00000
85831,tt9890308,Nasir,Nasir,2020,2020-07-16,Drama,85,"India, Netherlands, Singapore",Tamil,Arun Karthick,...,"Valavane Koumarane, Balasubramanian, Jensan Di...",Salesman Nasir lives a contended life with his...,7.20000,214,EUR 300000,NaN,NaN,NaN,4.00000,21.00000
85832,tt9892094,Mogul Mowgli,Mogul Mowgli,2020,2020-10-30,Drama,90,"UK, USA",NaN,Bassam Tariq,...,"Riz Ahmed, Aiysha Hart, Kiran Sonia Sawar, Nab...",A British Pakistani rapper is on the cusp of h...,6.90000,143,NaN,NaN,NaN,63.00000,1.00000,2.00000
85833,tt9892338,No Dorai,No Dorai,2019,2019-11-29,Drama,150,Bangladesh,Bengali,Taneem Rahman Angshu,...,"Sayed Babu, Sunerah Binte Kamal, Josefine Lind...","In a small beach town in Bangladesh, fearless ...",7.20000,296,$ 1250000,NaN,NaN,NaN,21.00000,2.00000
85834,tt9894098,Sathru,Sathru,2019,2019-03-08,Thriller,129,India,NaN,Naveen Nanjundan,...,"Master Ajithesh, Anal Akilan, A.R. Bala, Aruvi...",A kidnapping gone wrong leads to mounting tens...,6.00000,226,NaN,NaN,$ 8683,NaN,12.00000,1.00000
85835,tt9894394,Upin & Ipin: Keris Siamang Tunggal,Upin & Ipin: Keris Siamang Tunggal,2019,2019-03-21,Animation,100,Malaysia,Malay,"Adam Bin Amiruddin, Syed Nurfaiz Khalid bin Sy...",...,"Asyiela Putri Bt Azhar, Mohd Amir Asyraf Bin M...","Upin, Ipin and their friends come across a mys...",7.90000,440,MYR 20000000,NaN,$ 83857,NaN,61.00000,1.00000
85836,tt9894440,Min pappa Marianne,Min pappa Marianne,2020,2020-02-21,"Comedy, Drama",110,Sweden,Swedish,Mårten Klingberg,...,"Hedda Stiernstedt, Rolf Lassgård, Lena Endre, ...","After breaking up with her boyfriend, 28 year ...",7.20000,545,NaN,NaN,$ 40772,NaN,1.00000,5.00000
85837,tt9894470,VFW,VFW,2019,2020-02-14,"Action, Crime, Horror",92,USA,English,Joe Begos,...,"Stephen Lang, William Sadler, Fred Williamson,...",A group of old war veterans put their lives on...,6.10000,4178,NaN,NaN,$ 23101,72.00000,83.00000,94.00000
85838,tt9896916,The Pilgrim's Progress,The Pilgrim's Progress,2019,2019-04-18,"Animation, Adventure, Family",108,USA,English,Robert Fernandez,...,"David Thorpe, John Rhys-Davies, Kristyn Getty,...","An epic journey, faithfully adapted to modern-...",5.70000,442,NaN,$ 1294596,$ 3173282,NaN,28.00000,3.00000
85839,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,2020-04-03,"Action, Comedy",88,USA,English,Michael Dowse,...,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.10000,10627,NaN,NaN,NaN,35.00000,388.00000,64.00000
85840,tt9899850,Ashoftegi,Ashoftegi,2019,2019-12-18,"Crime, Mystery, Thriller",86,Iran,Persian,Fereydoun Jeyrani,...,"Bahram Radan, Mahnaz Afshar, Mehran Ahmadi, Na...",The story of a twin brothers Bardia And Barbod...,3.90000,138,NaN,NaN,NaN,NaN,2.00000,26.00000
85841,tt9899880,Columbus,Columbus,2018,2018-12-05,"Comedy, Drama",82,Iran,"Persian, English",Hatef Alimardani,...,"Farhad Aslani, Majid Salehi, Saeed Poursamimi,...",A rich family are deciding to immigrate to the...,4.00000,209,NaN,NaN,NaN,NaN,NaN,13.00000
85842,tt9900060,Lupin III: La menzogna di Fujiko Mine,Lupin the IIIrd: Mine Fujiko no Uso,2019,2019-05-31,"Animation, Adventure, Crime",58,Japan,Japanese,Takeshi Koike,...,"Kan'ichi Kurita, Kiyoshi Kobayashi, Miyuki Saw...",Fujiko befriends a young boy whose late father...,6.90000,103,NaN,NaN,NaN,NaN,1.00000,1.00000
85843,tt9900782,Kaithi,Kaithi,2019,2019-10-25,"Action, Thriller",145,India,Tamil,Lokesh Kanagaraj,...,"Karthi, Narain, Ramana, George Maryan, Harish ...",A recently released prisoner becomes involved ...,8.50000,8400,INR 240000000,NaN,$ 524061,NaN,188.00000,8.00000
85844,tt9903716,Jessie,Jessie,2019,2019-03-15,"Horror, Thriller",106,India,Telugu,Aswani Kumar V.,...,"Ashima Narwal, Sritha Chandana, Atul Kulkarni,...","Set in an abandoned house, the film follows a ...",7.00000,318,NaN,NaN,NaN,NaN,27.00000,NaN
85845,tt9904250,La reina de los lagartos,La reina de los lagartos,2019,2019-10-05,Fantasy,63,NaN,"Spanish, Catalan","Juan González, Nando Martínez",...,"Javier Botet, Bruna Cusí, Miki Esparbé, Ivan L...","A spaceship is about to come to pick up Javi, ...",4.80000,103,NaN,NaN,NaN,NaN,NaN,5.00000
85846,tt9904802,Enemy Lines,Enemy Lines,2020,2020-05-04,War,92,UK,"English, Polish, Russian, German",Anders Banke,...,"Ed Westwick, John Hannah, Tom Wisdom, Corey Jo...","In the frozen, war torn landscape of occupied ...",5.00000,764,NaN,NaN,NaN,NaN,29.00000,6.00000
85847,tt9905412,Ottam,Ottam,2019,2019-03-08,Drama,120,India,Malayalam,Zam,...,"Nandu Anand, Roshan Ullas, Manikandan R. Achar...","Set in Trivandrum, the story of Ottam unfolds ...",7.40000,494,INR 4000000,NaN,$ 4791,NaN,1.00000,NaN
85848,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.80000,553,INR 10000000,NaN,NaN,NaN,NaN,NaN
85849,tt9906644,Manoharam,Manoharam,2019,2019-09-27,"Comedy, Drama",122,India,Malayalam,Anvar Sadik,...,"Vineeth Sreenivasan, Aparna Das, Basil Joseph,...",Manoharan is a poster artist struggling to fin...,6.80000,491,NaN,NaN,NaN,NaN,9.00000,1.00000
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.30000,398,NaN,NaN,$ 3507171,NaN,NaN,4.00000
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.70000,724,NaN,NaN,$ 7299062,NaN,6.00000,4.00000
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.90000,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.40000,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.70000,102,NaN,NaN,$ 59794,NaN,NaN,2.00000

In [99]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

Eliminamos las columnas que no nos harán falta para nuestro modelo de machine learning

In [100]:
df = df[['imdb_title_id', 'original_title', 'year', 'genre', 'duration', 'country', 'votes', 'description']]

In [101]:
df.head()

,imdb_title_id,original_title,year,genre,duration,country,votes,description
0,tt0000009,Miss Jerry,1894,Romance,45,USA,154,The adventures of a female reporter in the 1890s.
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,589,True story of notorious Australian outlaw Ned ...
2,tt0001892,Den sorte drøm,1911,Drama,53,"Germany, Denmark",188,Two men of high rank are both wooing the beaut...
3,tt0002101,Cleopatra,1912,"Drama, History",100,USA,446,The fabled queen of Egypt's affair with Roman ...
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,2237,Loosely adapted from Dante's Divine Comedy and...

### Limpieza de los datos.

In [102]:
df.shape

(85855, 8)

In [103]:
df.isnull().sum()

imdb_title_id        0
original_title       0
year                 0
genre                0
duration             0
country             64
votes                0
description       2115
dtype: int64

In [104]:
# Eliminamos las filas con datos nulos
df = df.dropna()

In [105]:
df.isnull().sum()

imdb_title_id     0
original_title    0
year              0
genre             0
duration          0
country           0
votes             0
description       0
dtype: int64

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83676 entries, 0 to 85854
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_title_id   83676 non-null  object
 1   original_title  83676 non-null  object
 2   year            83676 non-null  object
 3   genre           83676 non-null  object
 4   duration        83676 non-null  int64
 5   country         83676 non-null  object
 6   votes           83676 non-null  int64
 7   description     83676 non-null  object
dtypes: int64(2), object(6)
memory usage: 5.7+ MB

In [107]:
# La columna year tiene un valor 'TV Movie 2019'. Eliminamos esa fila
df = df[df.year != 'TV Movie 2019']

In [108]:
# Ya podemos transformar la columna year a entero
df.year = df.year.astype(int)

In [109]:
df.head()

,imdb_title_id,original_title,year,genre,duration,country,votes,description
0,tt0000009,Miss Jerry,1894,Romance,45,USA,154,The adventures of a female reporter in the 1890s.
1,tt0000574,The Story of the Kelly Gang,1906,"Biography, Crime, Drama",70,Australia,589,True story of notorious Australian outlaw Ned ...
2,tt0001892,Den sorte drøm,1911,Drama,53,"Germany, Denmark",188,Two men of high rank are both wooing the beaut...
3,tt0002101,Cleopatra,1912,"Drama, History",100,USA,446,The fabled queen of Egypt's affair with Roman ...
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,2237,Loosely adapted from Dante's Divine Comedy and...

In [110]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
df.describe()

             year    duration         votes
count 83675.00000 83675.00000   83675.00000
mean   1993.40295   100.43278    9715.78609
std      24.33824    22.64358   54222.43011
min    1894.00000    41.00000      99.00000
25%    1979.00000    88.00000     211.00000
50%    2002.00000    96.00000     505.00000
75%    2013.00000   108.00000    1843.50000
max    2020.00000   808.00000 2278845.00000

Nos quedamos con las películas que tienen más de 2000 votos, ya que es bastante difícil hoy en día poder acceder a ver películas que no se encuentran en ninguna plataforma.

In [111]:
df = df[df.votes >= 2000]

In [112]:
df.shape

(19986, 8)

Creamos una nueva columna que tendrá los valores Classic en el caso de que la película sea anterior a 1990 y current para posterior a 1990.

In [113]:
df['epoch'] = df.year.apply(lambda x: 'classic' if x < 1990 else 'current')

In [114]:
df.head()

,imdb_title_id,original_title,year,genre,duration,country,votes,description,epoch
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,2237,Loosely adapted from Dante's Divine Comedy and...,classic
24,tt0003740,Cabiria,1914,"Adventure, Drama, History",148,Italy,3073,Cabiria is a Roman child when her home is dest...,classic
39,tt0004707,Tillie's Punctured Romance,1914,Comedy,82,USA,3250,A con man from the city dupes a wealthy countr...,classic
47,tt0004972,The Birth of a Nation,1915,"Drama, History, War",195,USA,22213,The Stoneman family finds its friendship with ...,classic
49,tt0005078,The Cheat,1915,"Drama, Romance",59,USA,2305,"A venal, spoiled stockbroker's wife impulsivel...",classic

In [115]:
df.tail()

,imdb_title_id,original_title,year,genre,duration,country,votes,description,epoch
85791,tt9831136,The Banana Splits Movie,2019,"Comedy, Horror, Sci-Fi",89,"USA, South Africa, Canada",2373,A family attends a live taping of The Banana S...,current
85811,tt9860728,Falling Inn Love,2019,"Comedy, Romance",98,USA,14108,When city girl Gabriela spontaneously enters a...,current
85837,tt9894470,VFW,2019,"Action, Crime, Horror",92,USA,4178,A group of old war veterans put their lives on...,current
85839,tt9898858,Coffee & Kareem,2020,"Action, Comedy",88,USA,10627,Twelve-year-old Kareem Manning hires a crimina...,current
85843,tt9900782,Kaithi,2019,"Action, Thriller",145,India,8400,A recently released prisoner becomes involved ...,current

Renombramos las columnas del dataset. La primera tendrá el nombre id y la columna duration tendrá el nombre duration_time

In [116]:
df.columns = ['id', 'title', 'year', 'genre', 'duration_time', 'country', 'votes', 'description', 'epoch']

In [117]:
df.head()

,id,title,year,genre,duration_time,country,votes,description,epoch
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,2237,Loosely adapted from Dante's Divine Comedy and...,classic
24,tt0003740,Cabiria,1914,"Adventure, Drama, History",148,Italy,3073,Cabiria is a Roman child when her home is dest...,classic
39,tt0004707,Tillie's Punctured Romance,1914,Comedy,82,USA,3250,A con man from the city dupes a wealthy countr...,classic
47,tt0004972,The Birth of a Nation,1915,"Drama, History, War",195,USA,22213,The Stoneman family finds its friendship with ...,classic
49,tt0005078,The Cheat,1915,"Drama, Romance",59,USA,2305,"A venal, spoiled stockbroker's wife impulsivel...",classic

Creamos una nueva columna llamada duration, que contendra los valores short en el caso de que la película dure menos de 90 minutos, normal en el caso de que la película dure menos de 125 minutos y long en el caso de que la película dure más de 125 minutos

In [118]:
def set_duration(minutes):
    
    if minutes <= 90:
        return 'short'
    elif minutes <= 125:
        return 'normal'
    else:
        return 'long'

df['duration'] = df.duration_time.apply(set_duration)

In [119]:
df.head()

,id,title,year,genre,duration_time,country,votes,description,epoch,duration
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,2237,Loosely adapted from Dante's Divine Comedy and...,classic,short
24,tt0003740,Cabiria,1914,"Adventure, Drama, History",148,Italy,3073,Cabiria is a Roman child when her home is dest...,classic,long
39,tt0004707,Tillie's Punctured Romance,1914,Comedy,82,USA,3250,A con man from the city dupes a wealthy countr...,classic,short
47,tt0004972,The Birth of a Nation,1915,"Drama, History, War",195,USA,22213,The Stoneman family finds its friendship with ...,classic,long
49,tt0005078,The Cheat,1915,"Drama, Romance",59,USA,2305,"A venal, spoiled stockbroker's wife impulsivel...",classic,short

Por último, creamos una nueva columna llamada known en la cual tendrá los valores known en el caso de que la película tenga más de 20000 votos y unknown si la película tiene menos de 20000 votos

In [120]:
df['known'] = df.votes.apply(lambda x: 'known' if x >= 20000 else 'unknown')

In [121]:
df.head()

,id,title,year,genre,duration_time,country,votes,description,epoch,duration,known
4,tt0002130,L'Inferno,1911,"Adventure, Drama, Fantasy",68,Italy,2237,Loosely adapted from Dante's Divine Comedy and...,classic,short,unknown
24,tt0003740,Cabiria,1914,"Adventure, Drama, History",148,Italy,3073,Cabiria is a Roman child when her home is dest...,classic,long,unknown
39,tt0004707,Tillie's Punctured Romance,1914,Comedy,82,USA,3250,A con man from the city dupes a wealthy countr...,classic,short,unknown
47,tt0004972,The Birth of a Nation,1915,"Drama, History, War",195,USA,22213,The Stoneman family finds its friendship with ...,classic,long,known
49,tt0005078,The Cheat,1915,"Drama, Romance",59,USA,2305,"A venal, spoiled stockbroker's wife impulsivel...",classic,short,unknown

In [122]:
df.tail()

,id,title,year,genre,duration_time,country,votes,description,epoch,duration,known
85791,tt9831136,The Banana Splits Movie,2019,"Comedy, Horror, Sci-Fi",89,"USA, South Africa, Canada",2373,A family attends a live taping of The Banana S...,current,short,unknown
85811,tt9860728,Falling Inn Love,2019,"Comedy, Romance",98,USA,14108,When city girl Gabriela spontaneously enters a...,current,normal,unknown
85837,tt9894470,VFW,2019,"Action, Crime, Horror",92,USA,4178,A group of old war veterans put their lives on...,current,normal,unknown
85839,tt9898858,Coffee & Kareem,2020,"Action, Comedy",88,USA,10627,Twelve-year-old Kareem Manning hires a crimina...,current,short,unknown
85843,tt9900782,Kaithi,2019,"Action, Thriller",145,India,8400,A recently released prisoner becomes involved ...,current,long,unknown

Por último, borramos los atributos year, duration_time y votes ya que no los vamos a usar más

In [123]:
df = df[['id', 'title', 'genre', 'country', 'epoch', 'duration', 'known', 'description']]

In [124]:
df.shape

(19986, 8)

In [125]:
# Ya tenemos el dataset limpio, por lo que lo guardamos
df.to_csv('./data/movies_clean.csv', index=False, header=True)

In [127]:
df[df.title == 'Toy Story']

,id,title,genre,country,epoch,duration,known,description
29371,tt0114709,Toy Story,"Animation, Adventure, Comedy",USA,current,short,known,A cowboy doll is profoundly threatened and jea...